# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/

# Backend testes
Backend/.coverage
Backend/.venv*/
Backend/coverage.xml

# Frontend testes
Frontend/coverage/

# Root venvs
.venv*/

# Infra exports 
.aws/
task-def.json
cf-dist.json
cf-dist-new.json
cf-dist-updated.json
bucket-policy.json
alias.json
changes.json
oac.json
sg-rule.json

# Alembic
alembic/versions/*.pyc

# Node
node_modules/
dist/
build/

# Logs
*.log

# Docker volumes
pgdata/

# IDE / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
temp_diagrams/c1.png
temp_diagrams/c2.png
temp_diagrams/c3.png
temp_diagrams/usecase.png
